@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --color-primary: rgb(0, 162, 255);
  --color-secondary: rgb(254, 220, 255);
  --standard-width : 600px ;
  --standard-min-width : 280px ;
  }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  width: 100vw;
  color : var(--color-primary) ;
}
main {
  width: 80vw;
  min-height: 600px;
  max-width: var(--standard-width);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem auto;
  justify-content: space-between;
}
h1{
  margin: 1rem 0;
  padding-left: .2em;
  /* text-align: center; */
}
label,button{
  min-width: var(--standard-min-width);
  max-width:fit-content;
}
label{
  overflow: visible;
  margin-top: 1rem;
}
select, button{
  display: block;
  margin: .8rem 0;
  padding: .5em;
  min-width: 200px;
}
textarea, .div-output,.control-container{
  width: 90% ;
  display: block;
  border: 1px solid black;
  height: 150px ;
  border-radius: 3px;
  padding: 1rem;
}

.control-container{
  border: unset;
  padding: unset;
  padding-top: 1em;
}