@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --color-primary: rgb(165, 140, 209);
  --color-primary-dark: rgb(22, 12, 40);
  --color-primary-light: rgb(243, 236, 255);
  --standard-width : 600px ;
  --standard-min-width : 280px ;
  }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100vw;
  background: linear-gradient(45deg,rgb(22, 10, 55),rgb(14, 0, 0));
  color: var(--color-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main {
  width: 80vw;
  min-height: 600px;
  max-width: var(--standard-width);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem auto;
  justify-content: space-between;
}
h1{
  margin: 1rem 0;
  padding-left: .2em;
  /* text-align: center; */
}
label,button{
  min-width: var(--standard-min-width);
  max-width:fit-content;
}
label{
  overflow: visible;
  margin-top: 1rem;
}
select, button{
  display: block;
  margin: .8rem 0;
  padding: .5em;
  min-width: 200px;
  border-radius: 3px;
}
textarea, .div-output,.control-container{
  width: 90% ;
  display: block;
  border: 1px solid var(--color-primary-light);
  height: 150px ;
  border-radius: 5px;
  padding: 1rem;
  background-color: inherit;
  color :var(--color-primary-light)
}

.control-container{
  border: unset;
  padding: unset;
  padding-top: 1em;
}

.btn-primary{
  background-color: var(--color-primary);
  border : 2px solid var(--color-primary-light) ;
  color : var(--color-primary-light);
  font-weight: bold;
  font-size: 1em;
}
textarea, .div-output{
  font-size: medium;
}
a,select{
  color:var(--color-primary-dark);
  background-color:var(--color-primary-light);
}

a {
  display: block;
  padding-top: 2em;
  color: antiquewhite;
  background-color: unset;
}