@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --color-primary: rgb(151, 5, 255);
  --color-secondary: rgb(210, 236, 255);
  --standard-width : 70% ;
  }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Ubuntu', sans-serif;

}

nav {
  background-color: var(--color-primary);
  max-width: 800px;
  margin:auto;
  padding: 2rem;
}

.brand {
  font-size: larger;
  font-weight: bold;
  color: var(--color-secondary);
}

.container-center {
  max-width: 650px;
  margin: auto;
}

.container-fluid{
  padding: 1rem;
}

.in-out-control {
  display: block;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: var(--standard-width);
  font-size: large;
}
.btn, label {
  display: inline;
  margin: 0.5rem 1.4rem;
  padding:0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

label{
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0px;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

#select-language {
  color: var(--color-primary);
  border-color: blueviolet;
}
#btn-translate{
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 2px solid rgb(151, 5, 255);
  width : 10rem ;
  margin: 0.4rem 1.5rem ;
}
.div-output {
  border: 2px solid gray;
  height: 200px;
}
